<%= form_for(@devolucion) do |f| %>
  <% if @devolucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@devolucion.errors.count, "error") %> prohibited this devolucion from being saved:</h2>

      <ul>
      <% @devolucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_devolucion %><br>
    <%= f.text_field :id_devolucion %>
  </div>
  <div class="field">
    <%= f.label :fecha_devolucion %><br>
    <%= f.date_select :fecha_devolucion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
