<p id="notice"><%= notice %></p>

<p>
  <strong>Id multa:</strong>
  <%= @multum.id_multa %>
</p>

<p>
  <strong>Total multa:</strong>
  <%= @multum.total_multa %>
</p>

<%= link_to 'Edit', edit_multum_path(@multum) %> |
<%= link_to 'Back', multa_path %>
