<p id="notice"><%= notice %></p>

<p>
  <strong>Id est vendedor:</strong>
  <%= @vendedor_estado.id_est_vendedor %>
</p>

<p>
  <strong>Est vendedor:</strong>
  <%= @vendedor_estado.est_vendedor %>
</p>

<%= link_to 'Edit', edit_vendedor_estado_path(@vendedor_estado) %> |
<%= link_to 'Back', vendedor_estados_path %>
