<%= form_for(@ejemplar) do |f| %>
  <% if @ejemplar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejemplar.errors.count, "error") %> prohibited this ejemplar from being saved:</h2>

      <ul>
      <% @ejemplar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_ejemplar %><br>
    <%= f.number_field :id_ejemplar %>
  </div>
  <div class="field">
    <%= f.label :talla_ejemplar %><br>
    <%= f.text_field :talla_ejemplar %>
  </div>
  <div class="field">
    <%= f.label :color_ejemplar %><br>
    <%= f.text_field :color_ejemplar %>
  </div>
  <div class="field">
    <%= f.label :estado_ejemplar %><br>
    <%= f.text_field :estado_ejemplar %>
  </div>
  <div class="field">
    <%= f.label :precio_ejemplar %><br>
    <%= f.text_field :precio_ejemplar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
