<h1>Listing auditoria</h1>

<table>
  <thead>
    <tr>
      <th>Id log</th>
      <th>Rut usuario</th>
      <th>Tabla afectada</th>
      <th>Instruccion</th>
      <th>Datos antes</th>
      <th>Datos despues</th>
      <th>Fecha modificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auditoria.each do |auditorium| %>
      <tr>
        <td><%= auditorium.id_log %></td>
        <td><%= auditorium.rut_usuario %></td>
        <td><%= auditorium.tabla_afectada %></td>
        <td><%= auditorium.instruccion %></td>
        <td><%= auditorium.datos_antes %></td>
        <td><%= auditorium.datos_despues %></td>
        <td><%= auditorium.fecha_modificacion %></td>
        <td><%= link_to 'Show', auditorium %></td>
        <td><%= link_to 'Edit', edit_auditorium_path(auditorium) %></td>
        <td><%= link_to 'Destroy', auditorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auditorium', new_auditorium_path %>
