<p id="notice"><%= notice %></p>

<p>
  <strong>Id estado cliente:</strong>
  <%= @ejemplar_estado.id_estado_cliente %>
</p>

<p>
  <strong>Est ejemplar:</strong>
  <%= @ejemplar_estado.est_ejemplar %>
</p>

<%= link_to 'Edit', edit_ejemplar_estado_path(@ejemplar_estado) %> |
<%= link_to 'Back', ejemplar_estados_path %>
