<p id="notice"><%= notice %></p>

<p>
  <strong>Id est arriendo:</strong>
  <%= @arriendo_estado.id_est_arriendo %>
</p>

<p>
  <strong>Est arriendo:</strong>
  <%= @arriendo_estado.est_arriendo %>
</p>

<%= link_to 'Edit', edit_arriendo_estado_path(@arriendo_estado) %> |
<%= link_to 'Back', arriendo_estados_path %>
