<%= form_for(@transicion_est_ejemplar) do |f| %>
  <% if @transicion_est_ejemplar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transicion_est_ejemplar.errors.count, "error") %> prohibited this transicion_est_ejemplar from being saved:</h2>

      <ul>
      <% @transicion_est_ejemplar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :est_ini_ejemplar %><br>
    <%= f.text_field :est_ini_ejemplar %>
  </div>
  <div class="field">
    <%= f.label :est_fin_ejemplar %><br>
    <%= f.text_field :est_fin_ejemplar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
