<p id="notice"><%= notice %></p>

<p>
  <strong>Est ini vendedor:</strong>
  <%= @transicion_est_vendedor.est_ini_vendedor %>
</p>

<p>
  <strong>Est fin vendedor:</strong>
  <%= @transicion_est_vendedor.est_fin_vendedor %>
</p>

<%= link_to 'Edit', edit_transicion_est_vendedor_path(@transicion_est_vendedor) %> |
<%= link_to 'Back', transicion_est_vendedors_path %>
