<p id="notice"><%= notice %></p>

<p>
  <strong>Id pedido:</strong>
  <%= @pedido.id_pedido %>
</p>

<p>
  <strong>Fecha pedido:</strong>
  <%= @pedido.fecha_pedido %>
</p>

<p>
  <strong>Estado pedido:</strong>
  <%= @pedido.estado_pedido %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
